header {
    background: black;
    color: #fff;  /* this id for the text color */
    /*padding: 10px 0;*/
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid #FED766;
}

body {
    background: black;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.Name {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.profilePic{
    vertical-align: middle;
    max-height: 50px;
    max-width: 60px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid transparent; /* Transparent border is used here, so that we can change its color when it is hovered over */
    transition: background-color 0.3s, border-color 0.3s;
}
.nav-link:hover { 
    
    border-color:#FED766;
}

.TwoColumns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;  
}

.column1 {
    width: 48%;
    text-align:center;
}
.column2 {
    width: 48%;
    margin-top: 6rem;
    text-align:center;
    padding: 20px;
    margin-bottom: 3rem;
}
.column2 p{
    margin-top: 2rem;
}

#contact{
    text-align: center;
    border: 3px solid #FED766;
    padding: 0px;
    margin-top: 2rem;
}

#contact h1{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
#contact a{
    color:#FED766;
}
#contact p{
    margin-bottom: 2rem;
}

.contener{
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top : -150px;
  }
  .cube{
    transform-style:preserve-3d;
    animation:rotate 3s linear infinite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .cube div img{
      width:100%;
      height:100%;
  }
  .pka{
    width:150px;
    animation:rotate-img 3s linear infinite;
  }
  .cube div{
    width:40px;
    height:40px;
    position:absolute;
    animation:gl 2s infinite;
    border-radius:20px;
    transform-origin: center ;
  }
  .one{
    background:#4285f4;
    transform: rotatey(0deg) translateZ(200px) rotateY(0deg);
  }
  .two{
    background:#ea4335;
    transform: rotatey(90deg) translateZ(200px) rotateY(0deg);
  }
  .three{
    background:#fbbc04;
    transform: rotatey(-90deg) translateZ(200px) rotateY(0deg);
  }
  .four{
    background:#34a853;
    transform: translateZ(-200px) rotateY(0deg);
  }
  
  
  
  @keyframes rotate-img{
    from{
      transform:rotatey(-0deg);
    }
    to{
      transform:rotatey(-360deg);
    }
  }
  
  
  @keyframes rotate{
    from{
      transform:rotatey(0deg);
    }
    to{
      transform:rotatey(360deg);
    }
  }
  
  @keyframes gl{
    0%{
      box-shadow:0 0 0px white,0 0 0px white;
    }
    50%{
      box-shadow:0 0 10px white,0 0 40px white; 
    }
    100%{
      box-shadow:0 0 0px red,0 0 0px red; 
    }
  }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 150px;
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side of the eggs*/
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  

  .flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
  }

  .egg-container {
    position: absolute;
    width: 300px;
    height: 300px;
}

.top-left {
    top: 130px;
    left: 100px;
}
.top-right {
  top: 130px;
  right: 100px;
}

.bottom-left{
  bottom: 0;
  left: 100px;
}

.bottom-right{
  bottom: 0;
  right:100px ;
}


